<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profiler</title>
</head>

<body>
  <div>
    <h1>
      <%= user.name %>
    </h1>
    <p>
      </h1>
      <%= user.age %>
    </p>
  </div>
</body>

</html>